
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
* { box-sizing: border-box;
}
* {
    font-family: 'Ubuntu', sans-serif;
}

   
h1{
     font-family: 'Sigmar One', cursive;
     color :rgb(60, 110, 113)
    
    }
h2{
     color :rgb(53, 53, 53)

    }
.smalllogo {
    width: 12%;
    
}
.menulogo{
    display: flex;
    justify-content: center;

}


 .menu_page {
     overflow:auto;
     background-color: white;
     margin-top: 50px;
     margin: left 75%;
     margin-bottom:50px;
     margin: right 75%;
    
 }
 .menu_page a{
     float: center;
     color:rgb(53, 53, 53);
     text-align: center;
     padding: 10px;
     font-size: 14px;
     width: 100px;
     text-decoration: none;
     font-weight: bold;
     text-transform: uppercase;

 }

 .menu_page a:hover{
     background: rgb(77, 131, 161) ;
     color: #fff;

 }
 .smalllogo a:hover{
    background: white;
}

.centered {
    position:absolute;
    top: 100%;
    left: 35%;
    transform: translate(-50%, -50%);
}

/* index page text  */

.biggetextColor {
   
    font-family: 'Sigmar One';
    padding-top: 0%;
    font-size:xx-large;
    text-align: left;
    color: rgb(3, 4, 94);
    letter-spacing: 0.20vw;
    line-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.biggetext {
    font-family: 'Sigmar One';
    font-size: 2.0em;
    text-align: left;
    color: rgb(0, 119, 182);
}
.lookatthis{
    color:rgb(53, 53, 53);
    font-size: medium;
    text-align: left;
    margin-right: 25px;
    margin-left: 0px;
    margin-bottom: 25%;
    width: 70%;
    letter-spacing: 0.20vw;
    line-height: 1;
}


/* location css code bellow */

h1{ 
    text-align: center;
}

h3{
    text-align: center;
}




.box {
    color: rgb(53, 53, 53);
    font-size: 18px;
    text-align: center;
    padding: 60px;
    width: 20%;
}


 .container{
    display: flex;
    justify-content: space-evenly;
}
 

  
  h1 {
    font-family: 'Syncopate', sans-serif;
    color: #4a3a27;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
  }
    span {
      display: block;
      font-size: 10vw;
      letter-spacing: -1.3vw;
    }
    
  /* videopart  */
 .section {
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content:center;
     overflow: hidden;
 }
 
 .videosize{
     width: 100%;
 }



  /* video end */


/* meet the pigeons css below  */

.pigeon{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 5%;
    /* background: url("images/love\ p.png"); */
    font-size: x-large;
  
    
}

.pc{
    width: 33.3%;
    opacity: 1;
}

.pigepa {
    display: flex;
    text-align: left;
    padding-top: 1%;
    font-size:large;
    letter-spacing: 0.10vw;
    line-height: 1;
    justify-content: center;
}


/* menu page */

.menupag{
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/chefp.jpeg");
    text-align: Left;
    justify-content: left;
    letter-spacing: 0.10vw;
    margin-left: 5%;
    justify-content:space-around;
    
}
.menupeg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
    justify-content:space-around;

}
/* 
social media page */

.insta{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 5%;
    background: url("images/fFFondo03.png");
   
}

/* merch page */




.pigeonmerch{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: xx-large;
    text-align: center;
    justify-content:space-around;
}
    

.pcx{
   
        width: 33.3%;
        height: 33.3%;
       
     

    }

.goo{
    text-align: center;
    font-size: x-large;
    letter-spacing: 0.10vw;
    background-color:steelblue;
    color:whitesmoke;
}

/* extra page */

